<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    	<typeAlias type="com.hep.hfc.member.MemberVO" alias="memberVO" />
    	<typeAlias type="com.hep.hfc.game.StageVO" alias="stageVO" />
    	<typeAlias type="com.hep.hfc.game.QnaVO" alias="qnaVO" />
    	<typeAlias type="com.hep.hfc.game.HintVO" alias="hintVO" />
    	<typeAlias type="com.hep.hfc.game.PlayVO" alias="playVO" />
    </typeAliases>
 
    <typeHandlers>
        <!-- <typeHandler handler="org.apache.ibatis.type.SqlDateTypeHandler" javaType="java.sql.Date" jdbcType="DATE"/> -->
    </typeHandlers>
 
    <mappers>
        <mapper resource="sqlmap/member.xml" />
        <mapper resource="sqlmap/game.xml" />
        <!-- <package name="spring.sample.mapper"/>
        <mapper class="spring.sample.mapper.MemberMapper"/>
        <mapper url="file://mappers/MemberMapper.xml"/> -->
    </mappers>
</configuration>