@CHARSET "UTF-8";

/* body */

body { width: 100%; height: 100vh; background-size: cover; background: url("/resources/images/game-bg.png") no-repeat center; overflow: hidden;}

/* //body */

/* header */

header { width: 100%; height: 50px; background-color: #F4B93C;}
.navWrap { width: 1024px;  height: 50px; margin: 0 auto;}
.nav { height: 50px; line-height: 50px; float: right;}
.nav li { float: left; margin-right: 50px; font-size: 15px; font-family: "Noto Sans KR"; letter-spacing: 1px;}

/* //header */

/* contents */

.contentsWrap { width: 100%; height: calc(100vh - 50px);}
.contents { position: relative; width: 1024px; height: 718p x; margin: 0 auto;}

/* gameWrap(윷놀이판) */

.gameWrap { width: 718px; height: 718px; margin: 0 auto;}
.stage { position: relative; width: 668px; height: 668px; margin: 0 auto; top: 25px;}
.bigC { width: 70px; height: 70px; line-height: 70px; text-align: center; border-radius: 70px; background-color: #F4B93C;}
.bigC a { color: #FFFFFF; font-size: 18px; font-family: Arial;}
.smallC { width: 40px; height: 40px; line-height: 40px; border-radius: 40px; text-align: center; background-color: #CDCCCC;}
.smallC a { color: #666666; font-size: 18px; font-family: Arial;}
#itemStart { position: absolute; width: 70px; height: 70px; line-height: 70px; text-align: center; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px; background: url("/resources/images/start.png") no-repeat center;}

#item1-1 { position: absolute; bottom: 210px; left: 55%; margin-left: -20px;}
#item1-2 { position: absolute; bottom: 120px; left: 59%; margin-left: -20px;}
#item1-3 { position: absolute; bottom: 40px; right: 230px;}
#item1-4 { position: absolute; bottom: 80px; right: 140px;}
#item1-5 { position: absolute; bottom: 145px; right: 75px;}
#item1-6 { position: absolute; bottom: 230px; right: 40px;}
#itemTest1 { position: absolute; top: 50%; margin-top: -35px; right: 0;}

#item2-1 { position: absolute; top: 46%; margin-top:-20px; right: 210px;}
#item2-2 { position: absolute; top: 42%; margin-top: -20px; right: 120px;}
#item2-3 { position: absolute; top: 230px; right: 40px;}
#item2-4 { position: absolute; top: 145px; right: 75px;}
#item2-5 { position: absolute; top: 80px; right: 140px;}
#item2-6 { position: absolute; top: 40px; right: 230px;}
#itemTest2 { position: absolute; top: 0; left: 50%; margin-left: -35px;}

#item3-1 { position: absolute; top: 210px; left: 45%; margin-left: -20px;}
#item3-2 { position: absolute; top: 120px; left: 41%; margin-left: -20px;}
#item3-3 { position: absolute; top: 40px; left: 230px;}
#item3-4 { position: absolute; top: 80px; left: 140px;}
#item3-5 { position: absolute; top: 145px; left: 75px;}
#item3-6 { position: absolute; top: 230px; left: 40px;}
#itemTest3 { position: absolute; top: 50%; margin-top: -35px; left: 0;}

#item4-1 { position: absolute; top: 58%; margin-top:-20px; left: 120px;}
#item4-2 { position: absolute; top: 54%; margin-top: -20px; left: 210px;}
#item4-3 { position: absolute; bottom: 230px; left: 40px;}
#item4-4 { position: absolute; bottom: 145px; left: 75px;}
#item4-5 { position: absolute; bottom: 80px; left: 140px;}
#item4-6 { position: absolute; bottom: 40px; left: 230px;}
#itemTest4 { position: absolute; bottom: 0; left: 50%; margin-left: -35px;}

#basic { position: absolute; right: 145px; bottom: 220px;}
#system { position: absolute; right: 180px; top: 185px;}
#network { position: absolute; left: 114px; top: 236px;}
#web { position: absolute; left: 195px; bottom: 177px;}

.stage p { height: 30px; line-height: 30px; font-size: 22px; color: #333333; font-family: Arial; font-weight: 600;}
.stage p img { width: 20px; height: 30px; margin-right: 5px;}
.notUseHint { background-color: #16BAAE; color: #FFFFFF;}
.notUseHint a { color: #FFFFFF;}
.useHint { background-color: #CDCCCC; color: #006A63}
.useHint a { color: #006A63;}
.wrong { background-color: #ED145B; color: #FFFFFF;}
.wrong a { color: #FFFFFF;}
.nowPlay { background-color: #CDCCCC; color: #000000; border: 3px solid #FFFFFF; box-shadow: 0 1px 10px 2px rgba(254, 234, 0 , 1), inset 0 0 5px #000000;}
.nowPlay a { color: #000000;}

/* //gameWrap(윷놀이판) */

/* categoryBox (범주) */
.categoryBox { position: absolute; width: 160px; height: 140px;  bottom: 10px; left: 10px;}
.categoryBox dl { width: 160px; height: 30px; margin-bottom: 5px;}
.categoryBox dt { width: 30px; height: 30px; margin-right: 5px; float: left; text-align: center; line-height: 30px; border-radius: 30px; font-size: 18px;}
.categoryBox dd { width: 120px; height: 30px; float: right; line-height: 30px; font-size: 14px;}
.categoryBox dl:nth-child(1) dt { background-color: #16BAAE; color: #FFFFFF;}
.categoryBox dl:nth-child(2) dt { background-color: #CDCCCC; color: #006A63;}
.categoryBox dl:nth-child(3) dt { background-color: #ED145B; color: #FFFFFF;}
.categoryBox dl:nth-child(4) dt { width: 24px; height: 24px; line-height: 24px; background-color: #CDCCCC; color: #000000; border: 3px solid #FFFFFF; box-shadow: 0 1px 10px 2px rgba(254, 234, 0 , 1), inset 0 0 5px #000000;}

/* //categoryBox (범주) */

/* startBtn(슬라이드 show/hide 버튼) */

aside { position: absolute; width: 100px; height: 130px; padding-top: 70px; text-align: center; border-radius: 100px 0 0 100px; background-color: #F4B93C; margin-right: 0; right: 0; top:50%; margin-top: -100px;  z-index:9999; line-height: 25px; color: #FFFFFF; font-size: 24px; cursor:pointer;}
aside.open { height:130px; padding-top:70px;}
aside.close { height:115px; padding-top:85px; }
/* //startBtn(슬라이드 show/hide 버튼) */

/* gameSlide */

.gameSlide { position: absolute; width: 100%; height: calc(100vh - 50px); background-color: rgba(0, 0, 0, 0.5); top: 50px; display: none;}
.game { position: absolute; width: 500px; height: calc(100vh - 50px); background-color: #FFFFFF; border-left: 3px solid #F4B93C; right: -503px; }
.gameDetail { position: absolute; width: 500px; height: 80%;}
.gameDetail h2 { font-size: 40px; text-align: center; margin: 80px 0 30px 0;}
.questionBox { width: 400px; height: 70px; margin: 0 auto 10px;}
.questionBox h3 { font-family: Arial, sans-serif; font-size: 48px; font-weight: 100; color: #BE912D; float: left;}
.questionBox p { width: 350px; height: 70px; border: 2px solid #F4B93C; float: right; padding: 10px; box-sizing: border-box;}
.hintBox { width: 400px; height:70px; margin: 10px auto; }
.hintWrap { width: 350px; margin: 0 auto 10px; float: right;}
.hintWrap label { height: 30px; display: block;}
#hintBtn01 { display: inline-block; width: 150px; height: 30px; line-height: 30px; background-color: #F4B93C; border: 0; outline: none; cursor: pointer; float: right;}
#hint01 { width: 350px; margin-bottom: 10px; box-sizing: border-box; background-color: #F4B93C; float: right; padding: 10px;}
#hintBtn02 { width: 150px; height: 30px; line-height: 30px; background-color: #F4B93C; border: 0; outline: none; cursor: pointer; float: right;}
#hint02 { width: 350px; margin-bottom: 10px; box-sizing: border-box; background-color: #F4B93C; float: right; padding: 10px;}
.answerBox { width: 400px; height: 70px; margin: 0 auto;}
.answerBox h3 { font-family: Arial, sans-serif; font-size: 48px; font-weight: 100; color: #BE912D; float: left;}
#answer { width: 350px; height: 70px; border: 2px solid #F4B93C; float: right; padding: 10px; box-sizing: border-box; margin-bottom: 10px;}
#send { width: 80px; height: 30px; line-height: 30px; text-align: center; border: 0; outline: none; background-color: #F4B93C; font-family: "Noto Sans KR", Arial, sans-serif; font-size: 14px; float: right; cursor: pointer;}

.fileDown { position: absolute; width: 500px; height: 20%; bottom: 0;}
#fileBtn { width: 400px; height: 30px; margin: 0 auto;}
#downDetail { width: 150px; height: 30px; float: right;}
#fileBtn span { height: 30px; line-height: 30px; font-family: Arial; font-size: 12px; float: left;}
#download { width: 80px; height: 30px; line-height: 30px; text-align: center; border: 0; outline: none; background-color: #F4B93C; float: right; cursor: pointer;}


/* //gameSlide */

/* //contents */
